.introducao {
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 100px;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   padding: 60px 20px;
}

.introducao h1 {
   position: relative;
   font-size: 4.5rem;
   line-height: 1.125;
   margin-bottom: 30px;
}

.introducao h1::before {
   content: "";
   display: block;
   width: 130px;
   height: 100px;
   background: url("../img/detalhe.svg") no-repeat center;
   position: absolute;
   top: -15px;
   left: -40px;
   z-index: -1;
}

.introducao p {
   font-size: 1.5rem;
   color: #525252;
}

@media (max-width: 1024px) {
   .introducao {
      padding: 40px 20px;
   }

   .introducao h1 {
      font-size: 3rem;
   }
}

@media (max-width: 768px) {
   .introducao {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
   }

   .introducao h1 {
      font-size: 2rem;
      margin-bottom: 20px;
   }

   .introducao h1::before {
      width: 30px;
      height: 10px;
      left: 0;
   }

   .introducao p {
      font-size: 1.25rem;
   }
}

@media (max-width: 540px) {
   .introducao {
      grid-template-columns: 1fr;
   }

   .introducao img {
      display: none;
   }

   .introducao h1 {
      font-size: 3rem;
   }
}

@media (max-width: 375px) {
   .introducao {
      justify-items: start;
   }

   .introducao h1 {
      font-size: 2.5rem;
   }

   .introducao p {
      font-size: 1.125rem;
   }
}